@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
@layer components {
  .checkbox-label:has(input:checked) {
    @apply border-purplish-blue bg-pastel-blue/10;
  }
}
